.rectangle-div {
  width: 100%;
  position: relative;
  background-color: #faf9f6;
  height: 80px;
}


body {
  margin: 0;
  line-height: normal;
}
@media (max-width: 1024px) {
  /* … */
}
@media (max-width: 460px) {
  /* … */
}