.group-child {
  position: absolute;
  top: 382px;
  left: 950px;
  background-color: #7ebda6;
  width: 358px;
  height: 128px;
}
.tatsumi-kazehaya-4-1-icon {
  position: absolute;
  top: 78px;
  left: 986px;
  width: 286px;
  height: 694px;
  object-fit: cover;
}
.an-experienced-idol {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line {
  margin: 0;
}
.an-experienced-idol-container {
  position: absolute;
  top: 315px;
  left: 0px;
  font-weight: 600;
  color: #02020a;
  display: inline-block;
  width: 446px;
}
.we-have-always {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 26px;
  font-weight: 800;
  display: inline-block;
  width: 645px;
}
.a-belated-new-container {
  position: absolute;
  top: 238px;
  left: 0px;
  font-weight: 600;
}
.tatsumi-kazehaya-container {
  position: absolute;
  top: 107px;
  left: 6px;
  font-size: 28px;
  font-weight: 800;
}
.rectangle-parent {
  position: absolute;
  top: 283px;
  left: 180px;
  width: 1308px;
  height: 772px;
  color: #000;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #faf9f6;
}
.home {
  width: 64px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 30px;
  flex-shrink: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div {
  width: 100px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 29.2px;
  flex-shrink: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div1 {
  width: 56px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 29.2px;
  flex-shrink: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-parent {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 296px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frame-wrapper {
  position: absolute;
  top: 24px;
  right: 213px;
  width: 296px;
  height: 30px;
}
.rectangle-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 80px;
}
.alkaloid-es-logo-2-icon {
  position: absolute;
  top: 13px;
  left: 120px;
  width: 238px;
  height: 55px;
  overflow: hidden;
  object-fit: cover;
}
.instance-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 80px;
  font-size: 22px;
  font-family: Inter;
}
.age-19-es-container {
  position: absolute;
  top: 114px;
  left: 0px;
  font-weight: 600;
}
.introduction-voice {
  position: absolute;
  top: 255px;
  left: 1023px;
  font-weight: 900;
  color: #000;
}
.component-1-child {
  position: absolute;
  height: 71.43%;
  width: 71.66%;
  top: 14.29%;
  right: 0%;
  bottom: 14.29%;
  left: 28.34%;
  background-color: #0c195c;
}
.component-1-item {
  position: absolute;
  height: 100%;
  width: 37.43%;
  top: 0%;
  right: 62.57%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: #0c195c;
}
.account-circle-icon {
  position: absolute;
  height: 100%;
  width: 37.43%;
  top: 0%;
  right: 62.57%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile {
  position: absolute;
  top: 30%;
  left: 44.92%;
  font-weight: 900;
}
.component-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 70px;
  font-size: 22px;
  color: #fff;
  font-family: Inter;
}
.component-4-icon {
  position: absolute;
  top: 316px;
  left: 1122px;
  width: 141px;
  height: 53px;
}
.component-2-icon {
  position: absolute;
  top: 318px;
  left: 995px;
  width: 89px;
  height: 49px;
}
.age-19-es-year-2-since-april-parent {
  position: absolute;
  top: 951px;
  left: 180px;
  width: 1263px;
  height: 494px;
}
.component-4-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #d9d9d9;
}
.signature {
  position: absolute;
  top: 5.93%;
  left: 16.26%;
  font-weight: 800;
}
.alkaloid {
  position: absolute;
  top: 5.93%;
  left: 57.29%;
  font-weight: 900;
  font-family: Inter;
}
.component-4 {
  position: absolute;
  height: 87.66%;
  width: 100%;
  top: 0%;
  right: -0.52%;
  bottom: 12.34%;
  left: 0.52%;
}
.component-5-child {
  position: absolute;
  height: 35.71%;
  width: 6.37%;
  top: 69.81%;
  right: 38.37%;
  bottom: -5.52%;
  left: 55.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-5-item {
  position: absolute;
  height: 35.71%;
  width: 6.37%;
  top: 69.81%;
  right: 15.97%;
  bottom: -5.52%;
  left: 77.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-5-inner {
  position: absolute;
  height: 35.71%;
  width: 6.37%;
  top: 69.81%;
  right: 27.17%;
  bottom: -5.52%;
  left: 66.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tatsumi-kazehaya-signature-1-icon {
  position: absolute;
  top: 46px;
  left: 227px;
  width: 196px;
  height: 215px;
  object-fit: cover;
}
.component-5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 308px;
}
.component-5-wrapper {
  position: absolute;
  top: 1755px;
  left: -9px;
  width: 1728px;
  height: 308px;
  font-size: 22px;
}
.macbook-pro-16-1-child {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 864px);
  background-color: #f1faff;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 1732px;
  height: 310px;
}
.support-the-artist {
  position: absolute;
  top: 7.09px;
  left: 57.2px;
  font-size: 20px;
  display: inline-block;
  width: 185px;
}
.youtube-music {
  position: absolute;
  top: 43.09px;
  left: 56.7px;
  font-weight: 500;
  display: inline-block;
  width: 118.1px;
}
.spotify {
  position: absolute;
  top: 72.09px;
  left: 56.7px;
  font-weight: 500;
  display: inline-block;
  width: 60.8px;
}
.apple-music {
  position: absolute;
  top: 101.09px;
  left: 56.7px;
  font-weight: 500;
  display: inline-block;
  width: 97.9px;
}
.support-the-artist-parent {
  position: absolute;
  top: 0px;
  right: -0.02px;
  width: 222.5px;
  height: 90.2px;
}
.ensemble-square-logo-1-icon {
  position: absolute;
  bottom: 0.04px;
  left: 128px;
  width: 87px;
  height: 72px;
  object-fit: cover;
}
.starmaker-logo-1-icon {
  position: absolute;
  bottom: 0.04px;
  left: 0px;
  width: 92px;
  height: 87px;
  object-fit: cover;
}
.characters {
  position: absolute;
  top: 4.09px;
  left: 29.2px;
  font-size: 20px;
  display: inline-block;
  width: 112px;
}
.hiiro-amagi {
  position: absolute;
  top: 40.09px;
  left: 28.7px;
  font-weight: 500;
  display: inline-block;
  width: 86.6px;
}
.aira-shiratori {
  position: absolute;
  top: 69.09px;
  left: 28.7px;
  font-weight: 500;
  display: inline-block;
  width: 100.1px;
}
.mayoi-ayase {
  position: absolute;
  top: 98.09px;
  left: 28.7px;
  font-weight: 500;
  display: inline-block;
  width: 97.9px;
}
.tatsumi-kazehaya1 {
  position: absolute;
  top: 127.09px;
  left: 28.7px;
  font-weight: 500;
  display: inline-block;
  width: 138.4px;
}
.characters-parent {
  position: absolute;
  right: -666.04px;
  bottom: 6.44px;
  width: 166.4px;
  height: 110.7px;
}
.frame-child {
  position: absolute;
  top: 77px;
  left: 0px;
  max-height: 100%;
  width: 333px;
}
.alkaloid-es-logo-1-icon {
  position: absolute;
  bottom: 62.8px;
  left: 47.63px;
  width: 238px;
  height: 55px;
  object-fit: cover;
}
.spotify-icon {
  position: absolute;
  bottom: -7.03px;
  left: 66.55px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  bottom: -6.93px;
  left: 146.55px;
  width: 33px;
  height: 33px;
}
.music-icon {
  position: absolute;
  bottom: -7.03px;
  left: 226.55px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.alkaloid-web-is-non-commercial-container {
  position: absolute;
  bottom: -133.94px;
  left: calc(50% + 118.59px);
  display: inline-block;
  text-align: center;
  width: 836px;
  height: 51px;
}
.frame-parent {
  position: absolute;
  top: 1.71px;
  left: 9.16px;
  width: 400.5px;
  height: 117.8px;
}
.song {
  position: absolute;
  top: 62.09px;
  left: 28.7px;
  font-weight: 500;
  display: inline-block;
  width: 42.8px;
}
.about-us {
  position: absolute;
  top: 28.62px;
  left: 28.68px;
  font-weight: 500;
  display: inline-block;
  width: 77.6px;
}
.home1 {
  position: absolute;
  top: -0.38px;
  left: 28.68px;
  font-weight: 500;
  display: inline-block;
  width: 48.4px;
}
.song-parent {
  position: absolute;
  top: 30.84px;
  right: 693.48px;
  width: 93.4px;
  height: 59.3px;
}
.footer {
  position: absolute;
  top: 0px;
  right: 64.8px;
  width: 1401.2px;
  height: 253.5px;
}
.footer-wrapper {
  position: absolute;
  bottom: 17px;
  left: calc(50% - 739px);
  width: 1466px;
  height: 253px;
  font-size: 14px;
  font-family: Inter;
}
.macbook-pro-16-1 {
  width: 100%;
  position: relative;
  background-color: #2bb7ca;
  height: 2659px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #02020a;
  font-family: Spartan;
}


@media (max-width: 1024px) {
  .nav-child {
  	width: 1024.5px;
  	position: relative;
  	background-color: #faf9f6;
  	height: 80px;
  	z-index: 0;
}
.home {
  	width: 64px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 30px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div {
  	width: 100px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 29.2px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div1 {
  	width: 56px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 29.2px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-parent {
  	margin: 0 !important;
  	position: absolute;
  	top: 25px;
  	right: 128.25px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	z-index: 1;
}
.alkaloid-es-logo-1-icon {
  	width: 238px;
  	position: absolute;
  	margin: 0 !important;
  	top: 12px;
  	left: 67.75px;
  	height: 55px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
  	z-index: 2;
}
.nav1 {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	width: 1025px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.nav-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1024px;
  	height: 80px;
}
.nav {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1024px;
  	height: 80px;
  	max-width: 1024px;
}
.ipad-pro-129-1-child {
  	position: absolute;
  	top: 3989.5px;
  	left: 72px;
  	width: 836px;
  	height: 124px;
}
.alkaloid-es-logo-1-icon1 {
  	width: 238px;
  	position: relative;
  	height: 55px;
  	object-fit: cover;
}
.frame-child {
  	width: 333px;
  	position: relative;
  	height: 0px;
}
.spotify-icon {
  	width: 33px;
  	position: relative;
  	height: 33px;
  	object-fit: cover;
}
.vector-icon {
  	width: 33px;
  	position: relative;
  	height: 33px;
}
.alkaloid-es-logo-1-parent {
  	position: absolute;
  	top: 0px;
  	left: 266px;
  	width: 332px;
  	height: 115px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	gap: 18px 47px;
}
.alkaloid-web-is-non-commercial {
  	margin: 0;
}
.alkaloid-web-is-non-commercial-container {
  	position: absolute;
  	top: 462px;
  	left: 14px;
  	display: inline-block;
  	text-align: center;
  	width: 836px;
  	height: 51px;
}
.support-the-artist {
  	position: absolute;
  	top: 7.09px;
  	left: 57.2px;
  	font-size: 20px;
  	display: inline-block;
  	width: 185px;
}
.youtube-music {
  	position: absolute;
  	top: 43.09px;
  	left: 56.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 118.1px;
}
.spotify {
  	position: absolute;
  	top: 72.09px;
  	left: 56.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 60.8px;
}
.apple-music {
  	position: absolute;
  	top: 101.09px;
  	left: 56.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 97.9px;
}
.support-the-artist-parent {
  	position: absolute;
  	top: 190px;
  	right: 24.1px;
  	width: 222.5px;
  	height: 90.2px;
}
.song {
  	position: absolute;
  	top: 62.09px;
  	left: 28.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 42.8px;
}
.about-us {
  	position: absolute;
  	top: 28.62px;
  	left: 28.68px;
  	font-weight: 500;
  	display: inline-block;
  	width: 77.6px;
}
.home1 {
  	position: absolute;
  	top: -0.38px;
  	left: 28.68px;
  	font-weight: 500;
  	display: inline-block;
  	width: 48.4px;
}
.song-parent {
  	position: absolute;
  	top: 220.84px;
  	right: 717.6px;
  	width: 93.4px;
  	height: 59.3px;
}
.starmaker-logo-1-icon {
  	width: 92px;
  	position: relative;
  	height: 87px;
  	object-fit: cover;
}
.ensemble-square-logo-1-icon {
  	width: 87px;
  	position: relative;
  	height: 72px;
  	object-fit: cover;
}
.starmaker-logo-1-parent {
  	position: absolute;
  	top: 579px;
  	left: 0px;
  	width: 224px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 36px;
}
.frame-parent {
  	position: absolute;
  	top: 4018px;
  	left: 80px;
  	width: 850px;
  	height: 666px;
  	font-size: 14px;
}
.ipad-pro-129-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #2bb7ca;
  	width: 1024px;
  	height: 3000px;
  	overflow: hidden;
  	font-size: 22px;
  	font-family: Inter;
}
.introduction-voice {
  	position: absolute;
  	top: 0px;
  	left: 32px;
  	font-weight: 900;
}
.component-4-icon {
  	position: absolute;
  	top: 47px;
  	left: 127px;
  	width: 141px;
  	height: 53px;
}
.component-1-icon {
  	position: absolute;
  	top: 49px;
  	left: 0px;
  	width: 89px;
  	height: 49px;
}
.introduction-voice-parent {
  	position: absolute;
  	top: 1188px;
  	left: 678px;
  	width: 268px;
  	height: 100px;
  	color: #000;
}
.we-have-always {
  	position: absolute;
  	top: 270px;
  	left: 73px;
  	font-size: 26px;
  	font-weight: 800;
  	color: #000;
  	display: inline-block;
  	width: 645px;
}
.tatsumi-kazehaya-container {
  	position: absolute;
  	top: 418px;
  	left: 73px;
  	font-size: 28px;
  	font-weight: 800;
  	color: #000;
}
.a-belated-new-container {
  	position: absolute;
  	top: 560px;
  	left: 73px;
  	font-weight: 600;
  	color: #000;
}
.an-experienced-idol {
  	margin: 0;
  	white-space: pre-wrap;
}
.an-experienced-idol-container {
  	position: absolute;
  	top: 663px;
  	left: 73px;
  	font-weight: 600;
  	display: inline-block;
  	width: 422px;
}
.ipad-pro-129-child {
  	position: absolute;
  	top: 725px;
  	left: 678px;
  	background-color: #7ebda6;
  	width: 276px;
  	height: 99px;
}
.tatsumi-kazehaya-4-1-icon {
  	position: absolute;
  	top: 490px;
  	left: 706px;
  	width: 220px;
  	height: 536px;
  	object-fit: cover;
}
.component-4-child {
  	position: absolute;
  	height: 71.43%;
  	width: 70.53%;
  	top: 14.29%;
  	right: 0%;
  	bottom: 14.29%;
  	left: 29.47%;
  	background-color: #0c195c;
}
.profile {
  	position: absolute;
  	top: 30%;
  	left: 45.79%;
  	font-weight: 900;
}
.account-circle-icon {
  	position: absolute;
  	height: 100%;
  	width: 36.84%;
  	top: 0%;
  	right: 63.16%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 190px;
  	height: 70px;
}
.component-4-wrapper {
  	position: absolute;
  	top: 946px;
  	left: 79px;
  	width: 190px;
  	height: 70px;
  	font-size: 22px;
  	color: #fff;
  	font-family: Inter;
}
.age-19-es-container {
  	position: absolute;
  	top: 1073px;
  	left: 73px;
  	font-weight: 600;
  	display: inline-block;
  	width: 365px;
}
.ipad-pro-129-item {
  	position: absolute;
  	top: 1722px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 1026px;
  	height: 270px;
}
.ipad-pro-129-inner {
  	position: absolute;
  	top: 1944px;
  	left: 710px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.ellipse-icon {
  	position: absolute;
  	top: 1944px;
  	left: 852px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.ipad-pro-129-child1 {
  	position: absolute;
  	top: 1944px;
  	left: 568px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.rectangle-icon {
  	position: absolute;
  	bottom: 0px;
  	left: calc(50% - 512px);
  	width: 1024px;
  	height: 728px;
}
.frame-item {
  	width: 333px;
  	position: relative;
  	max-height: 100%;
}
.alkaloid-es-logo-1-group {
  	position: absolute;
  	top: 2302px;
  	left: 346px;
  	width: 332px;
  	height: 115px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	gap: 18px 47px;
}
.alkaloid-web-is-non-commercial-container1 {
  	position: absolute;
  	top: 2764px;
  	left: 94px;
  	font-size: 14px;
  	display: inline-block;
  	font-family: Inter;
  	text-align: center;
  	width: 836px;
  	height: 51px;
}
.support-the-artist-group {
  	position: absolute;
  	top: 2492px;
  	right: 118.1px;
  	width: 222.5px;
  	height: 90.2px;
  	font-size: 14px;
  	font-family: Inter;
}
.song-group {
  	position: absolute;
  	top: 2522.84px;
  	right: 811.6px;
  	width: 93.4px;
  	height: 59.3px;
  	font-size: 14px;
  	font-family: Inter;
}
.characters {
  	position: absolute;
  	top: 4.09px;
  	left: 29.2px;
  	font-size: 20px;
  	display: inline-block;
  	width: 112px;
}
.hiiro-amagi {
  	position: absolute;
  	top: 40.09px;
  	left: 28.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 86.6px;
}
.aira-shiratori {
  	position: absolute;
  	top: 69.09px;
  	left: 28.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 100.1px;
}
.mayoi-ayase {
  	position: absolute;
  	top: 98.09px;
  	left: 28.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 97.9px;
}
.tatsumi-kazehaya1 {
  	position: absolute;
  	top: 127.09px;
  	left: 28.7px;
  	font-weight: 500;
  	display: inline-block;
  	width: 138.4px;
}
.characters-parent {
  	position: absolute;
  	right: 451px;
  	bottom: 397.5px;
  	width: 166px;
  	height: 103px;
  	font-size: 14px;
  	font-family: Inter;
}
.starmaker-logo-1-icon1 {
  	position: absolute;
  	top: 2883px;
  	left: 80px;
  	width: 92px;
  	height: 87px;
  	object-fit: cover;
}
.ensemble-square-logo-1-icon1 {
  	position: absolute;
  	top: 2898px;
  	left: 208px;
  	width: 87px;
  	height: 72px;
  	object-fit: cover;
}
.signature {
  	width: 122px;
  	position: absolute;
  	margin: 0 !important;
  	top: 13px;
  	left: 119px;
  	font-weight: 800;
  	display: inline-block;
  	z-index: 0;
}
.hiiro-amagi-signature-1-icon {
  	width: 184px;
  	position: absolute;
  	margin: 0 !important;
  	top: 60px;
  	left: 88px;
  	height: 197px;
  	object-fit: cover;
  	z-index: 1;
}
.alkaloid {
  	width: 116px;
  	position: absolute;
  	margin: 0 !important;
  	top: 16px;
  	left: 586px;
  	font-weight: 900;
  	font-family: Inter;
  	display: inline-block;
  	z-index: 2;
}
.signature-parent {
  	position: absolute;
  	top: 1729px;
  	left: 0px;
  	width: 1026px;
  	height: 270px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-end;
  	font-size: 22px;
}
.ipad-pro-129 {
  	width: 100%;
  	position: relative;
  	height: 3000px;
  	text-align: left;
  	font-size: 18px;
  	color: #02020a;
  	font-family: Spartan;
}


}
@media (max-width: 430px) {
  .group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 430px;
  	height: 639px;
}
.alkaloid-es-logo-1-icon {
  	width: 238px;
  	position: relative;
  	height: 55px;
  	object-fit: cover;
}
.frame-child {
  	width: 333px;
  	position: relative;
  	max-height: 100%;
}
.spotify-icon {
  	width: 33px;
  	position: relative;
  	height: 33px;
  	object-fit: cover;
}
.vector-icon {
  	width: 33px;
  	position: relative;
  	height: 33px;
}
.alkaloid-es-logo-1-parent {
  	position: absolute;
  	top: 28px;
  	left: 48px;
  	width: 332px;
  	height: 115px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	gap: 18px 47px;
}
.home {
  	width: 48.4px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.song {
  	width: 42.8px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.about-us {
  	width: 77.6px;
  	position: relative;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.home-parent {
  	position: absolute;
  	top: 214px;
  	left: 95px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 45px;
}
.alkaloid-web-is-non-commercial {
  	margin: 0;
}
.alkaloid-web-is-non-commercial-container {
  	position: absolute;
  	top: 324px;
  	left: 19px;
  	display: inline-block;
  	text-align: center;
  	width: 390px;
  	height: 102px;
}
.starmaker-logo-1-icon {
  	width: 92px;
  	position: relative;
  	height: 87px;
  	object-fit: cover;
}
.ensemble-square-logo-1-icon {
  	width: 87px;
  	position: relative;
  	height: 72px;
  	object-fit: cover;
}
.starmaker-logo-1-parent {
  	position: absolute;
  	top: 542px;
  	left: 22px;
  	width: 224px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 38px;
}
.vector-parent {
  	position: absolute;
  	top: 3476px;
  	left: 0px;
  	width: 430px;
  	height: 639px;
  	font-size: 14px;
  	font-family: Inter;
}
.instance-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: #faf9f6;
}
.home1 {
  	width: 64px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 30px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div {
  	width: 100px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 29.2px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div1 {
  	width: 56px;
  	position: relative;
  	font-weight: 600;
  	display: inline-block;
  	height: 29.2px;
  	flex-shrink: 0;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-group {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	width: 296px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.frame-wrapper {
  	position: absolute;
  	top: 24px;
  	right: 213px;
  	width: 296px;
  	height: 30px;
}
.rectangle-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1024px;
  	height: 80px;
}
.alkaloid-es-logo-1-icon1 {
  	position: absolute;
  	top: 26px;
  	left: 20px;
  	width: 123px;
  	height: 28px;
  	overflow: hidden;
  	object-fit: cover;
}
.nav1 {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	width: 430px;
  	height: 80px;
}
.nav {
  	position: absolute;
  	top: 0px;
  	right: 1px;
  	width: 430px;
  	height: 80px;
  	font-family: Inter;
}
.menu-icon {
  	position: absolute;
  	top: 15px;
  	left: 345px;
  	width: 50px;
  	height: 50px;
  	object-fit: cover;
}
.we-have-always {
  	position: absolute;
  	top: 206px;
  	left: 80px;
  	font-size: 20px;
  	font-weight: 800;
  	color: #000;
  	display: inline-block;
  	width: 271px;
}
.tatsumi-kazehaya-container {
  	position: absolute;
  	top: 330px;
  	left: 41px;
  	font-size: 28px;
  	font-weight: 800;
  	color: #000;
}
.iphone-14-15-pro-max-2-child {
  	position: absolute;
  	top: 740px;
  	left: 32px;
  	background-color: #7ebda6;
  	width: 358px;
  	height: 128px;
}
.tatsumi-kazehaya-4-1-icon {
  	position: absolute;
  	top: 536px;
  	left: 103px;
  	width: 223.9px;
  	height: 535px;
  	object-fit: cover;
}
.iphone-14-15-pro-max-2-item {
  	position: absolute;
  	top: 740px;
  	left: 357px;
  	background-color: #7ebda6;
  	width: 100px;
  	height: 128px;
}
.iphone-14-15-pro-max-2-inner {
  	position: absolute;
  	top: 740px;
  	left: -1px;
  	background-color: #7ebda6;
  	width: 56px;
  	height: 128px;
}
.a-belated-new-container {
  	position: absolute;
  	top: 406px;
  	left: 41px;
  	font-size: 18px;
  	font-weight: 600;
  	color: #000;
}
.an-experienced-idol {
  	margin: 0;
  	white-space: pre-wrap;
}
.an-experienced-idol-container {
  	position: absolute;
  	top: 1187px;
  	left: 25px;
  	font-size: 18px;
  	font-weight: 600;
  	display: inline-block;
  	width: 371px;
}
.component-4-child {
  	position: absolute;
  	height: 71.43%;
  	width: 70.53%;
  	top: 14.29%;
  	right: 0%;
  	bottom: 14.29%;
  	left: 29.47%;
  	background-color: #0c195c;
}
.profile {
  	position: absolute;
  	top: 30%;
  	left: 45.79%;
  	font-weight: 900;
}
.account-circle-icon {
  	position: absolute;
  	height: 100%;
  	width: 36.84%;
  	top: 0%;
  	right: 63.16%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 190px;
  	height: 70px;
}
.component-4-wrapper {
  	position: absolute;
  	top: 1527px;
  	left: 31px;
  	width: 190px;
  	height: 70px;
  	color: #fff;
  	font-family: Inter;
}
.age-19-es-container {
  	position: absolute;
  	top: 1654px;
  	left: 25px;
  	font-size: 18px;
  	font-weight: 600;
  	display: inline-block;
  	width: 365px;
}
.introduction-voice {
  	position: absolute;
  	top: 0px;
  	left: 32px;
  	font-weight: 900;
}
.component-4-icon {
  	position: absolute;
  	top: 47px;
  	left: 127px;
  	width: 141px;
  	height: 53px;
}
.component-1-icon {
  	position: absolute;
  	top: 49px;
  	left: 0px;
  	width: 89px;
  	height: 49px;
}
.introduction-voice-parent {
  	position: absolute;
  	top: 2173px;
  	left: 73px;
  	width: 268px;
  	height: 100px;
  	font-size: 18px;
  	color: #000;
}
.rectangle-div {
  	position: absolute;
  	top: 2450px;
  	left: -12px;
  	background-color: #d9d9d9;
  	width: 440px;
  	height: 682px;
}
.signature {
  	position: absolute;
  	top: 2512px;
  	left: 154px;
  	font-weight: 800;
}
.hiiro-amagi-signature-1-icon {
  	position: absolute;
  	top: 2559px;
  	left: 123px;
  	width: 184px;
  	height: 197px;
  	object-fit: cover;
}
.alkaloid {
  	position: absolute;
  	top: 2914px;
  	left: 47px;
  	font-weight: 900;
  	font-family: Inter;
}
.ellipse-icon {
  	position: absolute;
  	top: 3077px;
  	left: 164px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.iphone-14-15-pro-max-2-child1 {
  	position: absolute;
  	top: 3077px;
  	left: 306px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.iphone-14-15-pro-max-2-child2 {
  	position: absolute;
  	top: 3077px;
  	left: 22px;
  	width: 110px;
  	height: 110px;
  	object-fit: cover;
}
.iphone-14-15-pro-max-2 {
  	width: 100%;
  	position: relative;
  	background-color: #2bb7ca;
  	height: 4115px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 22px;
  	color: #02020a;
  	font-family: Spartan;
}

}